<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8010/MovieService" binding="netTcpBinding"
        contract="MovieLib.Contracts.IMovieService" name="1stEP" bindingConfiguration="tcpSecurity" />
      <endpoint address="http://localhost/MovieService" binding="wsHttpBinding"
        contract="MovieLib.Contracts.IMovieService" name="2ndEP" bindingConfiguration="wsSecurity" behaviorConfiguration="wsBehavior">
        <identity>
          <certificate encodedValue="MIICODCCAeagAwIBAgIQst8hxxs+Na9Ly/zPtQGWXjAJBgUrDgMCHQUAMBYxFDAS
BgNVBAMTC1Jvb3QgQWdlbmN5MB4XDTE1MDYwNjA3MDAyM1oXDTM5MTIzMTIzNTk1
OVowFzEVMBMGA1UEAxMMUHJhZ21hdGljV0NGMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEA4V+HzPLZc71HeL5S/aoNHi0CATLR+n+t8BwQjP64tyb9iTQ1
tnETd/yyQwbjKLO2pnNY/43CjdyLt9OnJZKxnvNeRxoOtMiCPc6MmdaLfwuT8Erc
CHS33xvADx//HHUY1sV7QSuN+K1TTzq1TAzei65yd+VX4xqAC4pXCwwK4ASxjVl4
DvsqfvE6D9Gh+dWwnDD8Des/gVvwT0w7oBd3GZencbhB3muBxntVjTycbMKWiv06
PSFWuGwcJwbgVsvWU7a7V4iGRcGiX5ir3xktYu//spQ8IxfAH4liqHD0E6I1vrf1
S7LbK5/lQEEVgTB1lLLMaCjkYz9LsLkWuV3UNwIDAQABo0swSTBHBgNVHQEEQDA+
gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3
bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBACLtNEUkz/ne1R0eDbzQHXOkVquX
MmhNU9QvSC9qW+eQnZRipn9uGHHbd0F1wv/EbkSdgE1prjqpwiZXWhdhqck="/>
        </identity>
      </endpoint>
      <!--<endpoint address="net.tcp://localhost:8011/MovieName" binding="netTcpBinding"
        contract="MovieLib.Client.Contracts.IMovieName" />-->
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMovieService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="tcpSecurity" >
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="Sign"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsSecurity">
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="wsBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    </system.serviceModel>
</configuration>